Repository ManageIQ/manageiq-pods, pull requests merged in 2018-02, with the labels that each got.

#262 [Changelog] Update for Sprint 78 and Gaprindashvili release
  CHANGELOG.md
Labels: documentation

#265 [FINE] Use a start hook instead of overriding the entire run-postgresql script
  images/miq-postgresql/9.5/Dockerfile
  images/miq-postgresql/9.5/docker-assets/on-start.sh
  images/miq-postgresql/9.5/docker-assets/run-postgresql
Labels: blocker, bug

#267 Put the PG config map in the new new include location
  templates/miq-template.yaml
Labels: blocker, bug, gaprindashvili/yes

#207 [REARCH] Container orchestrator
  .gitignore
  README.md
  build_all.sh
  images/manageiq-base-worker/Dockerfile
  images/manageiq-base-worker/docker-assets/entrypoint
  images/manageiq-base-worker/docker-assets/manageiq_liveness_check
  images/manageiq-base/Dockerfile
  images/manageiq-base/docker-assets/container-scripts/container-deploy-common.sh
  images/manageiq-base/docker-assets/container-scripts/post-upgrade
  images/manageiq-base/docker-assets/container-scripts/pre-upgrade
  images/manageiq-orchestrator/Dockerfile
  images/manageiq-orchestrator/docker-assets/appliance-initialize.sh
  images/manageiq-orchestrator/docker-assets/check-dependent-services.sh
  images/manageiq-orchestrator/docker-assets/entrypoint
  images/manageiq-ui-worker/Dockerfile
  images/manageiq-ui-worker/docker-assets/manageiq-http.conf
  images/manageiq-webserver-worker/Dockerfile
  images/miq-app-frontend/Dockerfile
  images/miq-app/docker-assets/check-dependent-services.sh
  images/miq-app/docker-assets/container-scripts/container-deploy-common.sh
  images/miq-app/docker-assets/container-scripts/sync-pv-data
  images/miq-app/docker-assets/container.data.persist
  templates/miq-pv-server-example.yaml
  templates/miq-template-ext-db.yaml
  templates/miq-template.yaml
Labels: enhancement, gaprindashvili/no, template

#266 [Changelog] Update for Sprint 79
  CHANGELOG.md
Labels: documentation

#268 Add artemis service
  templates/miq-template-ext-db.yaml
  templates/miq-template.yaml
Labels: enhancement, gaprindashvili/no, template

#269 Fix the external db template after merging #207
  templates/miq-template-ext-db.yaml
  templates/miq-template.yaml
Labels: bug, gaprindashvili/no, template

#270 Remove 15 second sleep from startup time
  images/manageiq-orchestrator/docker-assets/appliance-initialize.sh
  templates/miq-template-ext-db.yaml
  templates/miq-template.yaml
Labels: enhancement, gaprindashvili/no, template

#271 Add rolebindings for the orchestrator to the templates
  README.md
  teardown
  templates/miq-template-ext-db.yaml
  templates/miq-template.yaml
Labels: enhancement, gaprindashvili/no, template

#273 [Changelog] Update for Sprint 80
  CHANGELOG.md
Labels: documentation

#272 Use the recreate deployment strategy for the orchestrator
  templates/miq-template-ext-db.yaml
  templates/miq-template.yaml
Labels: enhancement, template
