Repository ManageIQ/manageiq-pods, pull requests merged in 2018-06, with the labels that each got.

#292 [HAMMER] Add the artemis username and password to the frontend pod
  templates/miq-template-ext-db.yaml
  templates/miq-template.yaml
Labels: bug

#293 [Changelog] Update for Gaprindashvili-3 release
  CHANGELOG.md
Labels: documentation

#294 [HAMMER] Remove artemis from the templates
  templates/miq-template-ext-db.yaml
  templates/miq-template.yaml
Labels: enhancement, template

#251 Adding support for OpenID-Connect
  README.md
  templates/miq-template-ext-db.yaml
  templates/miq-template.yaml
Labels: enhancement, hammer/yes, template
