Repository ManageIQ/manageiq-pods, pull requests merged in 2020-06, with the labels that each got.

#524 Use branch specific rpm build image
  bin/build
Labels: jansa/yes

#525 Add empty manageiq-base/rpms directory
  images/manageiq-base/rpms/.gitkeep
Labels: jansa/yes

#515 Add a CR parameter for an initial group name
  images/manageiq-orchestrator/container-assets/entrypoint
  manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/helpers/miq-components/orchestrator.go
Labels: enhancement, jansa/yes, operator

#519 Prevent API calls from going to the UI worker
  images/manageiq-ui-worker/Dockerfile
  images/manageiq-webserver-worker/Dockerfile
  manageiq-operator/pkg/helpers/miq-components/httpd_conf.go
  templates/app/httpd.yaml
Labels: bug, jansa/yes

#528 Pass RPM_PREFIX to all images
  bin/build
Labels: bug

#530 Enable customization for kafka and zookeeper image
  manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/helpers/miq-components/kafka.go
Labels: bug, jansa/yes, operator

#534 remove package dependency bou.ke/monkey
  manageiq-operator/go.mod
  manageiq-operator/go.sum
Labels: dependencies, jansa/yes, operator

#537 [IVANCHUK] Add libssh2-devel for rugged ssh support
  images/miq-app/Dockerfile
Labels: bug

#535 Move notification handling to the UI worker
  images/manageiq-ui-worker/container-assets/manageiq-http.conf
  manageiq-operator/pkg/helpers/miq-components/httpd_conf.go
  templates/app/httpd.yaml
Labels: bug, jansa/yes

#540 Add httpd config for rewriting remote consoles to the correct service
  manageiq-operator/pkg/helpers/miq-components/httpd_conf.go
  templates/app/httpd.yaml
Labels: bug

#542 Use controllerutil.CreateOrUpdate to maintain memcached resources
  manageiq-operator/pkg/controller/manageiq/manageiq_controller.go
  manageiq-operator/pkg/helpers/miq-components/memcached.go
Labels: enhancement, operator

#544 Use ubi 8.2 and centos 8.2 in base image
  images/manageiq-base/Dockerfile
Labels: bug, images, jansa/yes?

#545 Explicitly set the image pull policy to IfNotPresent
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq-operator.v0.0.1.clusterserviceversion.yaml
  manageiq-operator/deploy/operator.yaml
  manageiq-operator/pkg/helpers/miq-components/httpd.go
  manageiq-operator/pkg/helpers/miq-components/kafka.go
  manageiq-operator/pkg/helpers/miq-components/memcached.go
  manageiq-operator/pkg/helpers/miq-components/postgresql.go
Labels: bug, jansa/yes?, operator

#546 Switch to latest since v0.0.1 tag doesn't exist yet
  manageiq-operator/README.md
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq-operator.v0.0.1.clusterserviceversion.yaml
  manageiq-operator/deploy/operator.yaml
Labels: bug, documentation, jansa/no

#548 Move ovirt-ansible rpm installs to manageiq-gemset requires
  images/manageiq-base/Dockerfile
Labels: enhancement, images

#549 [JANSA] Switch to latest-jansa since v0.0.1 tag doesn't exist yet
  manageiq-operator/README.md
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq-operator.v0.0.1.clusterserviceversion.yaml
  manageiq-operator/deploy/operator.yaml
Labels: bug, documentation

#547 Change Postgresql component to support CreateOrUpdate
  manageiq-operator/pkg/controller/manageiq/manageiq_controller.go
  manageiq-operator/pkg/helpers/miq-components/postgresql.go
  manageiq-operator/pkg/helpers/miq-components/util.go
Labels: enhancement, operator

#552 Don't change the deployment spec labels and selectors in mutate
  manageiq-operator/pkg/helpers/miq-components/memcached.go
  manageiq-operator/pkg/helpers/miq-components/postgresql.go
Labels: bug, operator

#555 Add controller reference to PG objects
  manageiq-operator/pkg/controller/manageiq/manageiq_controller.go
  manageiq-operator/pkg/helpers/miq-components/memcached.go
  manageiq-operator/pkg/helpers/miq-components/postgresql.go
  manageiq-operator/pkg/helpers/miq-components/util.go
Labels: bug, operator

#558 Add an override for the worker images deployed by the orchestrator
  manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/helpers/miq-components/orchestrator.go
Labels: enhancement, jansa/yes?, operator

#560 [JANSA] Always pull latest tags
  manageiq-operator/deploy/operator.yaml
Labels: bug

#562 Document customizing secrets for Postgres and messaging
  manageiq-operator/README.md
  templates/app/kafka-secrets.yaml
  templates/app/postgresql-secrets.yaml
Labels: enhancement

#559 Add OIDC support for the Self-Service UI
  manageiq-operator/pkg/helpers/miq-components/httpd_conf.go
Labels: enhancement, jansa/yes?, operator

#563 Generate rpm manifest
  images/manageiq-base-worker/Dockerfile
  images/manageiq-base/Dockerfile
  images/manageiq-orchestrator/Dockerfile
  images/manageiq-ui-worker/Dockerfile
  images/manageiq-webserver-worker/Dockerfile
Labels: enhancement, images
