Repository ManageIQ/manageiq-pods, pull requests merged in 2020-04, with the labels that each got.

#402 Updated readme for ManageIQ operator
  manageiq-operator/README.md
Labels: documentation, jansa/yes?

#414 Add the actual steps for using the operator to the README
  manageiq-operator/README.md
  manageiq-operator/deploy/operator.yaml
Labels: documentation, enhancement, jansa/yes?

#416 Don't abbreviate Memory, Image, and Request
  manageiq-operator/README.md
  manageiq-operator/deploy/crds/manageiq_v1alpha1_manageiq_cr.yaml
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/helpers/miq-components/httpd.go
  manageiq-operator/pkg/helpers/miq-components/memcached.go
  manageiq-operator/pkg/helpers/miq-components/orchestrator.go
  manageiq-operator/pkg/helpers/miq-components/postgresql.go
Labels: cleanup, jansa/yes?, operator

#419 Add .swp files to .gitignore
  .gitignore
Labels: developer

#418 Remove status fields
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/controller/manageiq/manageiq_controller.go
Labels: cleanup, jansa/yes?, operator

#421 Fix random generation
  manageiq-operator/go.mod
  manageiq-operator/pkg/helpers/miq-components/app-secret.go
  manageiq-operator/pkg/helpers/miq-components/orchestrator.go
  manageiq-operator/pkg/helpers/randstring/randstring.go
Labels: enhancement, jansa/yes?, operator

#420 Clean up controller
  manageiq-operator/pkg/controller/manageiq/manageiq_controller.go
Labels: cleanup, jansa/yes?, operator

#422 Use lower case for local variables
  manageiq-operator/pkg/controller/manageiq/manageiq_controller.go
  manageiq-operator/pkg/helpers/miq-components/httpd.go
  manageiq-operator/pkg/helpers/miq-components/memcached.go
  manageiq-operator/pkg/helpers/miq-components/orchestrator.go
  manageiq-operator/pkg/helpers/miq-components/postgresql.go
Labels: jansa/yes?, operator, technical debt

#424 Update pg secret handling
  manageiq-operator/deploy/crds/manageiq_v1alpha1_manageiq_cr.yaml
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/controller/manageiq/manageiq_controller.go
  manageiq-operator/pkg/helpers/miq-components/app-secret.go
  manageiq-operator/pkg/helpers/miq-components/generators.go
  manageiq-operator/pkg/helpers/miq-components/orchestrator.go
  manageiq-operator/pkg/helpers/miq-components/postgresql-secrets.go
  manageiq-operator/pkg/helpers/miq-components/postgresql.go
  templates/app/orchestrator.yaml
  templates/app/postgresql-secrets.yaml
Labels: enhancement, jansa/yes?, operator

#426 Use StdEncoding rather than URLEncoding for creating the encryption key
  manageiq-operator/pkg/helpers/miq-components/generators.go
Labels: bug, jansa/yes?, operator

#425 Deploy kafka from the operator
  manageiq-operator/deploy/crds/manageiq_v1alpha1_manageiq_cr.yaml
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/controller/manageiq/manageiq_controller.go
  manageiq-operator/pkg/helpers/miq-components/generators.go
  manageiq-operator/pkg/helpers/miq-components/kafka.go
  manageiq-operator/pkg/helpers/miq-components/postgresql.go
  templates/app/kafka.yaml
Labels: enhancement, jansa/yes?, operator

#434 Add the pod UID to the orchestrator
  manageiq-operator/pkg/helpers/miq-components/orchestrator.go
  templates/app/orchestrator.yaml
Labels: enhancement, jansa/yes?, operator, template

#431 Allow user to provide tls secret
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/controller/manageiq/manageiq_controller.go
  manageiq-operator/pkg/helpers/miq-components/httpd.go
  manageiq-operator/pkg/helpers/tlstools/generate_crt.go
Labels: enhancement, jansa/yes?, operator

#435 Add the pod name as an env var to the orchestrator
  manageiq-operator/pkg/helpers/miq-components/orchestrator.go
  templates/app/orchestrator.yaml
Labels: enhancement, jansa/yes?, operator, template

#437 Fixes #427
  manageiq-operator/pkg/helpers/miq-components/httpd.go
  manageiq-operator/pkg/helpers/miq-components/postgresql.go
Labels: bug, jansa/yes?, operator

#433 Added issue and pr template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: developer

#439 Remove release note from pull requset template.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cleanup, developer

#429 Watch on all resource types in case of accidental deletion of resources
  manageiq-operator/pkg/controller/manageiq/manageiq_controller.go
Labels: enhancement, jansa/yes?, operator

#432 Update operator-sdk to 0.15.1
  .travis.yml
  manageiq-operator/.gitignore
  manageiq-operator/README.md
  manageiq-operator/cmd/manager/main.go
  manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/deploy/crds/manageiq.org_v1alpha1_manageiq_cr.yaml
  manageiq-operator/deploy/crds/manageiq_v1alpha1_manageiq_crd.yaml
  manageiq-operator/deploy/role.yaml
  manageiq-operator/go.mod
  manageiq-operator/go.sum
  manageiq-operator/pkg/apis/addtoscheme_manageiq_v1alpha1.go
  manageiq-operator/pkg/apis/manageiq/v1alpha1/doc.go
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/apis/manageiq/v1alpha1/register.go
  manageiq-operator/pkg/apis/manageiq/v1alpha1/zz_generated.deepcopy.go
  manageiq-operator/pkg/controller/add_manageiq.go
  manageiq-operator/pkg/controller/manageiq/manageiq_controller.go
  manageiq-operator/pkg/helpers/miq-components/app-secret.go
  manageiq-operator/pkg/helpers/miq-components/httpd.go
  manageiq-operator/pkg/helpers/miq-components/kafka.go
  manageiq-operator/pkg/helpers/miq-components/memcached.go
  manageiq-operator/pkg/helpers/miq-components/orchestrator.go
  manageiq-operator/pkg/helpers/miq-components/postgresql.go
  manageiq-operator/pkg/helpers/miq-components/rbac.go
Labels: enhancement, operator

#440 Define and use a role for the orchestrator
  bin/teardown
  manageiq-operator/pkg/controller/manageiq/manageiq_controller.go
  manageiq-operator/pkg/helpers/miq-components/rbac.go
  templates/app/rbac.yaml
Labels: bug, jansa/yes?, operator, template

#444 Change kind to ManageIQ
  manageiq-operator/README.md
  manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/deploy/crds/manageiq.org_v1alpha1_manageiq_cr.yaml
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/apis/manageiq/v1alpha1/zz_generated.deepcopy.go
  manageiq-operator/pkg/controller/manageiq/manageiq_controller.go
  manageiq-operator/pkg/helpers/miq-components/app-secret.go
  manageiq-operator/pkg/helpers/miq-components/httpd.go
  manageiq-operator/pkg/helpers/miq-components/kafka.go
  manageiq-operator/pkg/helpers/miq-components/memcached.go
  manageiq-operator/pkg/helpers/miq-components/orchestrator.go
  manageiq-operator/pkg/helpers/miq-components/postgresql.go
  manageiq-operator/pkg/helpers/miq-components/rbac.go
Labels: enhancement, jansa/yes?, operator

#445 Regenerate crds to pick up new API field.
  manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml
Labels: bug, jansa/yes?, operator

#449 Allow operator to deploy orchestrator role
  manageiq-operator/deploy/role.yaml
Labels: bug, jansa/yes, operator

#450 Regenerate the csv files after #449
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq-operator.v0.0.1.clusterserviceversion.yaml
Labels: bug, jansa/yes, operator

#451 Use defaults for missing cr values
  manageiq-operator/README.md
  manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/deploy/crds/manageiq.org_v1alpha1_manageiq_cr.yaml
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq-operator.v0.0.1.clusterserviceversion.yaml
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/controller/manageiq/manageiq_controller.go
  manageiq-operator/pkg/helpers/miq-components/httpd.go
  manageiq-operator/pkg/helpers/miq-components/memcached.go
  manageiq-operator/pkg/helpers/miq-components/orchestrator.go
  manageiq-operator/pkg/helpers/miq-components/postgresql.go
  manageiq-operator/pkg/helpers/miq-components/util.go
Labels: enhancement, jansa/yes, operator

#455 add app_name parameter to teardown script
  bin/teardown
Labels: bug, jansa/yes

#454 Encode httpd and postgresql conf as static strings in functions
  manageiq-operator/pkg/helpers/httpd_conf/application.conf
  manageiq-operator/pkg/helpers/httpd_conf/auth-configuration.conf
  manageiq-operator/pkg/helpers/httpd_conf/authentication.conf
  manageiq-operator/pkg/helpers/httpd_conf/configuration-active-directory-auth
  manageiq-operator/pkg/helpers/httpd_conf/configuration-external-auth
  manageiq-operator/pkg/helpers/httpd_conf/configuration-internal-auth
  manageiq-operator/pkg/helpers/httpd_conf/configuration-openid-connect-auth
  manageiq-operator/pkg/helpers/httpd_conf/configuration-saml-auth
  manageiq-operator/pkg/helpers/httpd_conf/external-auth-application-api-conf
  manageiq-operator/pkg/helpers/httpd_conf/external-auth-load-modules-conf
  manageiq-operator/pkg/helpers/httpd_conf/external-auth-login-form-conf
  manageiq-operator/pkg/helpers/httpd_conf/external-auth-lookup-user-details-conf
  manageiq-operator/pkg/helpers/httpd_conf/external-auth-openid-connect-remote-user-conf
  manageiq-operator/pkg/helpers/httpd_conf/external-auth-remote-user-conf
  manageiq-operator/pkg/helpers/miq-components/httpd.go
  manageiq-operator/pkg/helpers/miq-components/httpd_conf.go
  manageiq-operator/pkg/helpers/miq-components/postgresql.go
  manageiq-operator/pkg/helpers/miq-components/postgresql_conf.go
Labels: bug, jansa/yes, operator

#458 Add missing httpd readiness probe
  manageiq-operator/pkg/helpers/miq-components/httpd.go
Labels: bug, jansa/yes, operator

#459 Parameterize the orchestrator liveness probe initial delay in the operator
  manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/helpers/miq-components/orchestrator.go
Labels: enhancement, jansa/yes, operator

#463 Create BUILD file for SUI
  images/manageiq-base/Dockerfile
Labels: bug

#456 Delay parameter
  parameters
  templates/app/orchestrator.yaml
Labels: enhancement, jansa/yes, template

#466 Don't run the app as root
  README.md
  bin/deploy_on_minishift
  bin/teardown
  images/manageiq-base/Dockerfile
  images/manageiq-ui-worker/Dockerfile
  manageiq-operator/pkg/controller/manageiq/manageiq_controller.go
  manageiq-operator/pkg/helpers/miq-components/rbac.go
  templates/app/rbac.yaml
Labels: enhancement, jansa/yes?, operator, template

#468 Use 8080 for httpd and 8081 for dbus api
  manageiq-operator/pkg/helpers/miq-components/httpd.go
  manageiq-operator/pkg/helpers/miq-components/httpd_conf.go
  templates/app/httpd.yaml
Labels: enhancement, jansa/yes, operator, template

#465 Send the image tag to the operator
  manageiq-operator/pkg/helpers/miq-components/orchestrator.go
  templates/app/orchestrator.yaml
Labels: bug, jansa/yes, operator, template

#470 Clear the app logs directory after all UI worker steps
  images/manageiq-ui-worker/Dockerfile
Labels: bug, jansa/yes

#474 Pin the base image to ubi 8.1 and don't install net-snmp from ubi repos
  images/manageiq-base/Dockerfile
Labels: bug, jansa/yes

#471 Only use httpd with systemd when necessary
  manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/controller/manageiq/manageiq_controller.go
  manageiq-operator/pkg/helpers/miq-components/httpd.go
Labels: enhancement, jansa/yes, operator

#469 Fix build failures on Power
  bin/build
  images/manageiq-base/Dockerfile
  images/manageiq-ui-worker/Dockerfile
Labels: bug

#478 Remove external auth from the template-based deployment
  README.md
  bin/teardown
  templates/app/httpd.yaml
Labels: bug, jansa/yes, template

#476 Only check for the httpd process in the privileged image
  manageiq-operator/pkg/helpers/miq-components/httpd.go
Labels: bug, jansa/yes, operator
