Repository ManageIQ/manageiq-pods, pull requests merged in 2020-05, with the labels that each got.

#479 Allow more flexible external auth configuration
  manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/controller/manageiq/manageiq_controller.go
  manageiq-operator/pkg/helpers/miq-components/httpd.go
  manageiq-operator/pkg/helpers/miq-components/httpd_conf.go
Labels: enhancement, jansa/yes, operator

#482 Add operator to build script
  bin/build
Labels: enhancement, jansa/yes, operator

#483 Create an ImagePullSecret parameter in the CR
  manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/helpers/miq-components/orchestrator.go
Labels: bug, jansa/yes, operator

#486 Add manageiq-operator to remove_images script
  bin/remove_images
Labels: enhancement

#484 Configure application auth settings when passed to the operator
  images/manageiq-orchestrator/container-assets/entrypoint
  manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/apis/manageiq/v1alpha1/zz_generated.deepcopy.go
  manageiq-operator/pkg/helpers/miq-components/orchestrator.go
Labels: enhancement, jansa/yes, operator

#493 Remove extra sha256 sum when generating the encryption key
  manageiq-operator/pkg/helpers/miq-components/generators.go
Labels: cleanup, jansa/yes, operator

#492 Add OIDC config to allow for API access
  manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/helpers/miq-components/httpd_conf.go
Labels: enhancement, jansa/yes, operator

#495 Make the admin password required in the CR
  manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/deploy/crds/manageiq.org_v1alpha1_manageiq_cr.yaml
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
Labels: enhancement, jansa/yes, operator

#496 Updated olm
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq-operator.v0.0.1.clusterserviceversion.yaml
Labels: operator

#498 Enable region customization
  manageiq-operator/pkg/helpers/miq-components/orchestrator.go
Labels: bug, jansa/yes, operator

#500 Remove ability to set the admin user password
  README.md
  images/manageiq-orchestrator/container-assets/entrypoint
  manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/deploy/crds/manageiq.org_v1alpha1_manageiq_cr.yaml
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq-operator.v0.0.1.clusterserviceversion.yaml
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/helpers/miq-components/app-secret.go
  manageiq-operator/pkg/helpers/miq-components/orchestrator.go
  parameters
  templates/app/app-secrets.yaml
  templates/app/orchestrator.yaml
Labels: jansa/yes, operator

#504 Add resource limits and requests for the operator
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq-operator.v0.0.1.clusterserviceversion.yaml
  manageiq-operator/deploy/operator.yaml
Labels: enhancement, jansa/yes, operator

#506 Add missing resource requests and limits
  manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/controller/manageiq/manageiq_controller.go
  manageiq-operator/pkg/helpers/miq-components/httpd.go
  manageiq-operator/pkg/helpers/miq-components/kafka.go
  manageiq-operator/pkg/helpers/miq-components/memcached.go
  manageiq-operator/pkg/helpers/miq-components/orchestrator.go
  manageiq-operator/pkg/helpers/miq-components/postgresql.go
  manageiq-operator/pkg/helpers/miq-components/util.go
Labels: enhancement, jansa/yes, operator

#505 Disable admin user API access when enableApplicationLocalLogin is false
  manageiq-operator/pkg/helpers/miq-components/httpd_conf.go
Labels: enhancement, jansa/yes, operator

#509 Add Power support on travis-ci
  .travis.yml
Labels: enhancement, test

#511 enable setting storageclass
  manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/helpers/miq-components/kafka.go
  manageiq-operator/pkg/helpers/miq-components/postgresql.go
Labels: enhancement, operator

#513 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: developer, documentation

#514 Add oidcCaCertSecret parameter
  manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/deploy/olm-catalog/manageiq-operator/0.0.1/manageiq.org_manageiqs_crd.yaml
  manageiq-operator/pkg/apis/manageiq/v1alpha1/manageiq_types.go
  manageiq-operator/pkg/helpers/miq-components/httpd.go
  manageiq-operator/pkg/helpers/miq-components/httpd_conf.go
Labels: bug, jansa/yes, operator

#510 [IVANCHUK] Change the httpd image to httpd-init
  templates/miq-template-ext-db.yaml
  templates/miq-template.yaml
Labels: bug, template

#520 Add policy for orchestrator
  manageiq-operator/pkg/helpers/miq-components/orchestrator.go
  templates/app/orchestrator.yaml
Labels: enhancement, jansa/yes

#485 RPM based pods build
  bin/build
  images/manageiq-base-worker/container-assets/manageiq_liveness_check
  images/manageiq-base/Dockerfile
  images/manageiq-ui-worker/Dockerfile
  images/manageiq-ui-worker/container-assets/npm_registry/npm_registry_setup.sh
  images/manageiq-ui-worker/container-assets/npm_registry/npm_yarn_registry_cleanup.sh
  images/manageiq-ui-worker/container-assets/npm_registry/yarn_registry_setup.sh
Labels: enhancement, images

#491 Support for local RPMs
  .gitignore
  bin/build
  images/manageiq-base/Dockerfile
  images/manageiq-base/container-assets/create_local_yum_repo.sh
  images/manageiq-ui-worker/Dockerfile
Labels: enhancement
